{% extends 'dash_layout.html '%} {% block head %}
<title>Suppliers</title>
{% endblock%} {%block body%}
<h3>Suppliers</h3>

{% include 'includes/table.html' %}
<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Supplier</h4>
        <form action="{{url_for('UpdateSupplier') }}" method="post">
          <div class="field d-flex flex-column align-items-start">
            <label class="custom-label" for="name"> Enter Name</label>
            <input class="text-inputs" type="text" name="name" placeholder="Supplier name" />
          </div>
          <div class="field d-flex flex-column align-items-start">
            <label for="input-field">Choose a field :</label>
            <select name="input-field" id="field">
              <option value="SNAME">NAME</option>
              <option value="SLOCATION">LOCATION</option>
            </select>
          </div>
          <div class="field d-flex flex-column align-items-start">
            <label class="custom-label" for="input-value"> Enter Value</label>
            <input class="text-inputs" type="text" name="input-value" placeholder="0" />
          </div>
          <button class="mt-3 submit-button">Update</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6  col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add New Supplier</h4>        
        <form action="{{url_for('addSupplier') }}" method="post">
          <div class="field d-flex flex-column align-items-start">
            <label class="custom-label" for="name"> Enter the Supplier</label>
            <input class="text-inputs" name="name" type="text" placeholder="Supplier name" />
          </div>
          <div class="field d-flex flex-column align-items-start">
            <label class="custom-label" for="quantity"> Enter Order ID : </label>
            <select name="order-id-select" id="field">
              {% for order_id in order_ids %}
              <option value="{{ order_id }}">{{order_id}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="field d-flex flex-column align-items-start">
            <label class="custom-label" for="location"> Enter Location</label>
            <input class="text-inputs" type="text" name="location" placeholder="Location" />
          </div>
          <button class="mt-3 submit-button">Add Supplier</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6  col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Delete Supplier</h4>
        <form action="{{url_for('deleteSupplier') }}" method="post">
          <div class="field d-flex flex-column align-items-start">
            <label class="custom-label" for="name"> Enter the name</label>
            <input class="text-inputs" name="name" type="text" placeholder="Supplier Name" />
          </div>
          <button class="mt-3 submit-button red-button">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="forms-wrapper">
  <form action="{{url_for('UpdateSupplier') }}" method="post">
    <h3>Update Supplier</h3>
    <div class="field">
      <label class="custom-label" for="name"> Enter Name</label>
      <input class="text-inputs" type="text" name="name" placeholder="Supplier name" />
    </div>
    <div class="field">
      <label for="input-field">Choose a field :</label>
      <select name="input-field" id="field">
        <option value="SNAME">NAME</option>
        <option value="SLOCATION">LOCATION</option>
      </select>
    </div>
    <div class="field">
      <label class="custom-label" for="input-value"> Enter Value</label>
      <input class="text-inputs" type="text" name="input-value" placeholder=" " />
    </div>
    <button class="mt-3 submit-button">Update</button>
  </form>

  <form action="{{url_for('addSupplier') }}" method="post">
    <h3>Add New Supplier</h3>
    <div class="field">
      <label class="custom-label" for="name"> Enter the Supplier</label>
      <input class="text-inputs" name="name" type="text" placeholder="Supplier name" />
    </div>
    <div class="field">
      <label class="custom-label" for="quantity"> Enter Order ID : </label>
      <select name="order-id-select" id="field">
        {% for order_id in order_ids %}
        <option value="{{ order_id }}">{{order_id}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="field">
      <label class="custom-label" for="location"> Enter Location</label>
      <input class="text-inputs" type="text" name="location" placeholder="Location" />
    </div>
    <button class="mt-3 submit-button">Add Supplier</button>
  </form>
  <form action="{{url_for('deleteSupplier') }}" method="post">
    <h3>Delete Supplier</h3>
    <div class="field">
      <label class="custom-label" for="name"> Enter the name</label>
      <input class="text-inputs" name="name" type="text" placeholder="Supplier Name" />
    </div>
    <button class="mt-3 submit-button red-button">Delete</button>
  </form>
</div> -->

{% endblock%}